h1 {
	width: 80px;
	height: 72px;
	background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}

.menu {
	display: flex;
	flex-wrap: wrap;
}

.cta-btn {
	padding: 6px 12px;
	background: $primary;
	color: $light;

	&:hover{
		background: $secondary;
	}
}

.form-btn {
	width: 65.4%;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 16px 0px;
	background: $primary;
	color: $light;

	&:hover{
		background: $secondary;
	}
}