// colors
$primary: #AA0601;
$secondary: #650300;
$light: #FFFFFF;
$dark: #000000;
$gray: #707070;

// flex
.container{
    margin: 0 auto;
    padding: 0 12px;
    max-width: 1320px;
} 
@media (max-width: 991px){
    .container{
        width: 100%;
        padding: 0 36px;
    }
}
@media (max-width: 767px){

    // 容器
    .container{
        width: 100%;
        padding: 0 16px;
    }
}

.h-100{
    height: 100%;
}
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
} 
.justify-center{
    justify-content: center;
} 
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: end;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
// background
.bg-primary{
    background-color: $primary;
}
.bg-light{
    background-color: $light;
}
// spacer
.p-16{
    padding: 16px;
}
.py-8{
    padding: 8px 0;
}
.py-16{
    padding: 16px 0;
}
.pt-48{
    padding-top: 48px;
}
.pb-32{
    padding-bottom: 32px;
}
.m-0{
    margin: 0 !important;
}
.mr-24{
    margin-right: 24px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-72{
    margin-bottom: 72px;

}
.mr-32{
    margin-right: 32px;
}
.mr-48{
    margin-right: 48px;
}
.mr-64{
    margin-right: 64px;
}
@media (max-width: 767px){

    .pb-md-0{
        padding-bottom: 0;
    }
}
// font
.ff-en{
    font-family: 'Roboto',  sans-serif;
}

.text-primary{
    color: $primary;
}
.text-secondary{
    color: $secondary;
}
.text-light{
    color: $light;
}
.text-dark{
    color: $dark;
}
.text-gray{
    color: $gray;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.fs-14{
    font-size: 14px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-36{
    font-size: 36px;
}
.fs-48{
    font-size: 48px;
}
.fs-64{
    font-size: 64px;
}
.fw-medium{
    font-weight: 500;
}
.fw-bold{
    font-weight: 700;
}
.fw-black{
    font-weight: 900;
}
.fs-italic{
    font-style: italic;
}

// border
.border-bottom{
    border-bottom: 1px solid $light;
}

// hover
.hover-contrast{
    &:hover {
        filter: contrast(1.2);
    }
}
