<div class="bg-primary section-footer">
    <div class="container">
        <div class="d-flex justify-between flex-wrap">
            <div>
                <ul class="sitemap d-flex">
                    <li><a href="../pages/index.html" class="text-light mr-48">首頁</a></li>
                    <li><a href="#" class="text-light mr-48">系列鏡框</a></li>
                    <li><a href="#" class="text-light mr-48">門市據點</a></li>
                    <li><a href="#" class="text-light mr-48">部落格</a></li>
                    <li><a href="#" class="text-light">常見問題</a></li>
                </ul>
                <ul class="contactInfo">
                    <li class="mb-8"><span class="material-symbols-outlined text-light fs-36 mr-24">
                            call</span><a href="tel:+886-800-000-000" class="text-light fs-36">0800-000-000</a></li>
                    <li><span class="material-symbols-outlined text-light fs-36 mr-24">
                            mail</span><a href="mailto:glasses@business.com"
                            class="text-light fs-36">glasses@business.com</a></li>
                </ul>
            </div>

            <ul class="d-flex">
                <li class="social-item"><a href="../pages/index.html"><img
                            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png"
                            alt="facebook"></a></li>
                <li class="social-item"><a href="#"><img
                            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png"
                            alt="instagram"></a></li>
                <li class="social-item m-0"><a href="#"><img
                            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png"
                            alt="line"></a></li>
            </ul>
        </div>

        <div class="line"></div>

        <div class="d-flex justify-between align-items-center flex-wrap">
            <p class="text-light">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="policy">
                <li><a href="#" class="text-light mr-48">隱私權政策</a></li>
                <li><a href="#" class="text-light">服務條款</a></li>
            </ul>
        </div>
    </div>
</div>