<div class="bg-primary">
    <div class="container">
        <div class="d-flex justify-between align-items-center flex-wrap py-16 fs-20">
            <a href="../pages/index.html" class="d-block"><h1>logo</h1></a>
            <ul class="menu">
                <li><a href="#" class="text-light mr-64">系列鏡框</a></li>
                <li><a href="#" class="text-light mr-64">門市據點</a></li>
                <li><a href="#" class="text-light mr-64">部落格</a></li>
                <li><a href="#" class="text-light">常見問題</a></li>
            </ul>
        </div>
    </div>
</div>