<div class="bg-primary">
    <div class="container container-md">
        <div class="d-flex justify-between align-items-center flex-wrap py-16 pb-md-0 fs-20">
            <a href="https://hd1313169.github.io/hex_fe_week3_2023/" class="logo d-block"><h1>logo</h1></a>
            <ul class="menu">
                <li><a href="https://hd1313169.github.io/hex_fe_week3_2023/plp-optical" class="text-light mr-64">系列鏡框</a></li>
                <li><a href="https://hd1313169.github.io/hex_fe_week3_2023/store-list" class="text-light mr-64">門市據點</a></li>
                <li><a href="https://hd1313169.github.io/hex_fe_week3_2023/blog-list" class="text-light mr-64">部落格</a></li>
                <li><a href="https://hd1313169.github.io/hex_fe_week3_2023/faq" class="text-light">常見問題</a></li>
            </ul>
        </div>
    </div>
</div>