

.menu {
    display: flex;
    justify-content: start;
    align-items: center;

    a{
        display: block;

        &:hover{
            text-decoration: underline;
        }
    }
	
}
@media (max-width: 767px){
    .container-md{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        padding: 0;
    }

    .logo{
        padding: 0 0 16px 15px;
    }
	.menu{
		width: 100%;
		flex-wrap: wrap;  
		li{
			width: 50%;
			border: 1px solid #fff;
			padding: 12px 0px;
            text-align: center;
		}
	
		a{
            margin: 0;
            text-align: center;
			font-size: 14px;
		}
	}
}