.hero {
	position: relative;
	display: block;
	height: 787px;
	background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

.value {
	&-item {
		width: calc((100% - 24px * 3) / 4);
	}

	&-img {
		width: 100px;
	}
}


.classic {
	&-img {
		display: block;
		width: 416px;

		&:hover{
			filter: contrast(1.2);
		}
	}
}