.store {
    padding: 96px 0 80px 0;

    &-title {
        font-size: 48px;
        font-weight: bold;
        position: relative;
        padding-left: 16px;
        margin-bottom: 32px;

        &::before {
            position: absolute;
            display: block;
            content: "";
            width: 8px;
            height: 100%;
            left: 0;
            top: 0;
            background-color: $primary;
        }
    }

    &-dropdown{
        h3{
            font-size: 24px;
            margin-right: 16px;
        }

        select {
            border: 1px solid #CED4DA;
            padding: 6px 238px 6px 12px;

            option{
                font-size: 18px;
                color: #495057;
                opacity: .75;
            }
        }

    }
}

@media (max-width: 991px) {
    .store {
        padding: 80px 0 80px 0;
    }
}

@media (max-width: 767px) {
    .store {
        padding: 40px 0 64px 0;

        &-title {
            font-size: 24px;
            margin-bottom: 24px;
        }
        &-dropdown{
            h3{
                font-size: 16px;
                margin-right: 8px;
            }

            select {
                width: 79.31%;
                padding: 6px 0 6px 12px;

            }
        }
    }
}